header{
    width: 600px;
    height: 70px;
    line-height: 70px;
    margin: 50px auto;
    font-size: 50px;
    font-family: 微软雅黑;
    color: dodgerblue;
    font-weight: bold;
    text-align: center;
}
header>span{
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    color: black;
    font-weight: lighter;
}
.content{
    width: 404px;
    height: 500px;
    margin: 0 auto;
    background: burlywood;
}